---
const { title, description } = Astro.props;
---

<footer id="footer" class="panel">
  <div class="inner split">
    <div>
      <section>
        <h2>{title}</h2>
        <p>{description}</p>
      </section>
      <p class="copyright">
        器材: <a href="http://www.nikon.com.cn">Nikon D850</a>.<br />
        我的摄影笔记: <a href="https://qi0819.netlify.app/">记录生活的点滴，分享摄影的乐趣</a>
      </p>
    </div>
   
  </div>
</footer>
