---
const { title, description } = Astro.props;
---

<footer id="footer" class="panel">
  <div class="inner split">
    <div>
      <section>
        <h2>{title}</h2>
        <p>{description}</p>
      </section>
      <p class="copyright">
        器材: <a href="http://www.nikon.com.cn">Nikon D850</a>.<br />
        我的摄影笔记: <a href="https://qi0819.netlify.app/">2025年摄影足迹</a>
        我的摄影笔记: <a href="https://qi0819.netlify.app/">2024年摄影足迹</a>
        我的摄影笔记: <a href="https://qi0819.netlify.app/">2023年摄影足迹</a>
        我的摄影笔记: <a href="https://qi0819.netlify.app/">2022年摄影足迹</a>
        我的摄影笔记: <a href="https://qi0819.netlify.app/">2021年摄影足迹</a>
      </p>
    </div>
   
  </div>
</footer>
