---
const { title, description } = Astro.props;
---

<footer id="footer" class="panel">
  <div class="inner split">
    <div>
      <section>
        <h2>{title}</h2>
        <p>{description}</p>
      </section>
      <p class="copyright">
        器材: <a href="http://www.nikon.com.cn">Nikon D850</a>.<br />
        我的摄影笔记: <a href="https://qi0819.netlify.app/">记录生活的点滴，分享摄影的乐趣</a>
      </p>
    </div>
    <div>
      <section>
        <h2>联系我</h2>
        <form method="post" action="#">
          <div class="fields">
            <div class="field half">
              <input type="text" name="name" id="name" placeholder="Name" />
            </div>
            <div class="field half">
              <input type="text" name="email" id="email" placeholder="Email" />
            </div>
            <div class="field">
              <textarea
                name="message"
                id="message"
                rows="4"
                placeholder="Message"></textarea>
            </div>
          </div>
          <ul class="actions">
            <li><input type="submit" value="发送" class="primary" /></li>
            <li><input type="reset" value="重置" /></li>
          </ul>
        </form>
      </section>
    </div>
  </div>
</footer>
