---
const { title } = Astro.props;
---

<header id="header">
  <h1>{title}</h1>
  <nav>
    <ul>
      <li>
        <a href="#footer">关于</a>
      </li>
    </ul>
    <h7>© 2025 我的摄影笔记 | 简单记录，用心生活</h7>
  </nav>
  
</header>
